
body {
    margin: 0;
}

.header p {
    margin: 0;
}
.header {
    background-color: #1F2937;
    font-family: Roboto;
    padding-right: 200px;
    padding-left: 200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 18px;
}

.hero {
    background-color: #1F2937;
    font-family: Roboto;
    padding-right: 200px;
    padding-left: 200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    padding-top: 75px;
    gap: 35px;
}


.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    color: #F9FAF8;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}
.hero-img {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-img img {
    background-color: gray;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;
    line-height: 200px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 200px 75px 200px;
}

.cards {
    display: flex;
    gap: 36px; 
    justify-contents: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    font-size: 16px;
    color: gray;
}

.card p {
    margin-top: 8px;
}

.rectangle {
    width: 150px;
    height: 150px;
    border: #3882F6 solid;
    border-radius: 15px;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 25px;
}

.quote {
    background-color: #E5E7EB;
    font-family: Roboto;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quote-text {
    margin-bottom: 0;
    font-weight: light;
    font-style: italic;
    color: #808080; 
    font-size: 36px;
}

.author {
    margin-top: 10px;
    align-self: end;
    font-weight: bold;
    font-size: 18px;
}

.call-to-action {
    font-family: Roboto;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    margin: 100px 200px;
    align-items: center;
    padding: 48px;
    gap: 16px;
    justify-content: space-around;
    border-radius: 10px;
}

.call-to-action h3 {
    font-size: 18px;
    color: white;
    margin: 0px;
}

.call-to-action p {
    font-size: 12px;
    color: #E5E7EB; 
    margin: 0px;
}


.call-button {
    height: 36px;
    width: 96px;
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: Roboto;
    display: flex;
    padding: 16px;
    justify-content: center;
}